.Content {
  margin: 0 auto;
  width: 90%;
}

/* sizes of images */
.imgMed {
  height: 350px;
}

.imgBig {
  height: 500px;
}

.imgBan {
  height: 700px;
}

/* center something at product card */
.posCent {
  padding-top: 100px;
  padding-right: 160px;
  padding-bottom: 50px;
  padding-left: 50px;
}


/* custom the modal style */
.modal-color-success {
  background-color: #d4edda;
}

.input-green {
  border-color: #d4edda;
}
.input-green:focus{
   background-color: #d4edda;
   border-color: #d4edda;
}

